/* open sans */
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.eot');
  src: url('../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.woff2') format('woff2'),
  url('../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.woff') format('woff'),
  url('../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.ttf') format('truetype'),
  url('../../fonts/open_sans/semi-bold-italic/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.eot');
  src: url('../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.woff2') format('woff2'),
  url('../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.woff') format('woff'),
  url('../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.ttf') format('truetype'),
  url('../../fonts/open_sans/bold-italic/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/semi-bold/OpenSans-Semibold.eot');
  src: url('../../fonts/open_sans/semi-bold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/semi-bold/OpenSans-Semibold.woff2') format('woff2'),
  url('../../fonts/open_sans/semi-bold/OpenSans-Semibold.woff') format('woff'),
  url('../../fonts/open_sans/semi-bold/OpenSans-Semibold.ttf') format('truetype'),
  url('../../fonts/open_sans/semi-bold/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/italic/OpenSans-Italic.eot');
  src: url('../../fonts/open_sans/italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/italic/OpenSans-Italic.woff2') format('woff2'),
  url('../../fonts/open_sans/italic/OpenSans-Italic.woff') format('woff'),
  url('../../fonts/open_sans/italic/OpenSans-Italic.ttf') format('truetype'),
  url('../../fonts/open_sans/italic/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/light-italic/OpenSansLight-Italic.eot');
  src: url('../../fonts/open_sans/light-italic/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/light-italic/OpenSansLight-Italic.woff2') format('woff2'),
  url('../../fonts/open_sans/light-italic/OpenSansLight-Italic.woff') format('woff'),
  url('../../fonts/open_sans/light-italic/OpenSansLight-Italic.ttf') format('truetype'),
  url('../../fonts/open_sans/light-italic/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/bold/OpenSans-Bold.eot');
  src: url('../../fonts/open_sans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/bold/OpenSans-Bold.woff2') format('woff2'),
  url('../../fonts/open_sans/bold/OpenSans-Bold.woff') format('woff'),
  url('../../fonts/open_sans/bold/OpenSans-Bold.ttf') format('truetype'),
  url('../../fonts/open_sans/bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/regular/OpenSans.eot');
  src: url('../../fonts/open_sans/regular/OpenSans.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/regular/OpenSans.woff2') format('woff2'),
  url('../../fonts/open_sans/regular/OpenSans.woff') format('woff'),
  url('../../fonts/open_sans/regular/OpenSans.ttf') format('truetype'),
  url('../../fonts/open_sans/regular/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/extra-bold/OpenSans-Extrabold.eot');
  src: url('../../fonts/open_sans/extra-bold/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/extra-bold/OpenSans-Extrabold.woff2') format('woff2'),
  url('../../fonts/open_sans/extra-bold/OpenSans-Extrabold.woff') format('woff'),
  url('../../fonts/open_sans/extra-bold/OpenSans-Extrabold.ttf') format('truetype'),
  url('../../fonts/open_sans/extra-bold/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.eot');
  src: url('../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.woff2') format('woff2'),
  url('../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.woff') format('woff'),
  url('../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.ttf') format('truetype'),
  url('../../fonts/open_sans/extra-bold-italic/OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open_sans/light/OpenSans-Light.eot');
  src: url('../../fonts/open_sans/light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/open_sans/light/OpenSans-Light.woff2') format('woff2'),
  url('../../fonts/open_sans/light/OpenSans-Light.woff') format('woff'),
  url('../../fonts/open_sans/light/OpenSans-Light.ttf') format('truetype'),
  url('../../fonts/open_sans/light/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* open sans end */
